<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/loginStyle.css">
    <link rel="icon" type="image/png" th:href="@{/images/globetrek_logo.png}"> 
</head>
<body> 
    <div class="login-box">
        <h2>Login</h2>  
        <form th:action="@{/auth/login}" method="post">
        
            <input type="text" id="username" name="username" placeholder="Id" required
                    oninvalid="this.setCustomValidity('아이디를 입력해 주세요')"
                    oninput="this.setCustomValidity('')">   
            <input type="password" id="password" name="password" placeholder="Password" required
                    oninvalid="this.setCustomValidity('비밀번호를 입력해 주세요')"
                    oninput="this.setCustomValidity('')">
            <input type="hidden" name="redirect" th:value="${param.redirect}"> <!-- 기존에 넘어온 redirect 유지 -->
            <div th:if="${param.error}" style="color: red; text-align: center; margin-bottom: 10px;">
                아이디나 비밀번호가 틀렸습니다
            </div>
            <div class="button-group">
            <button type="submit" class="form-btn">로그인</button> 
            <a th:href="@{/auth/signup}" class="form-btn">회원가입</a>
            </div>
            
        </form>
    </div>
    <!-- 로그인이 필요한 경우 뜨는 팝업 창-->
    <div id="customAlert" style=
    	"display:none; position:fixed; left:50%; transform:translateX(-50%);
         width: 350px; height: 100px; background:white; padding:20px; border-radius:10px; box-shadow:0 0 10px gray;
         display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;
         ">
  		<p style="margin-bottom: 30px;">로그인이 필요합니다. 로그인 후 이용해주세요.</p>
  		<button onclick="document.getElementById('customAlert').style.display='none'">확인</button>
	</div>
    <script>
  		window.onload = function () {
    	const urlParams = new URLSearchParams(window.location.search);
    	if (urlParams.has('unauthorized')) {
      		document.getElementById("customAlert").style.display = "block";
    		} else {
    		document.getElementById("customAlert").style.display = "none";
  			}
  		}
	</script>
</body>
</html>
